@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,900&display=swap');
@import './styling';

body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
}

li label {
  margin: 0;
}
